<header class="heading">
<?php 
echo $this->Html->image('logoukdw.png', array('class'=>'logo', 'style' => 'width:50px; height:63px;')); ?>
<div class="prodi"><span style="font-size: 1.00em;">Fakultas Teknologi Informasi Program Studi Sistem Informasi</span><br/>	
<span><small>Universitas Kristen Duta Wacana</small></span><br/>
<span><small>Dr Wahidin Sudirahusada 5-25 Yogyakarta - 55224</small></span></div>
<?php echo $this->Html->image('logosi_small.png', array('style'=>'float: left; display: block; margin-left: 800px; margin-top:-60px; width:190px; height:68px;')); ?>
</header>