<header id="atas" class="heading container_3">
	<?php echo $this->Html->image('logo.png', array('class' => 'logo') ); ?>
	<div class="prodi"><span style="font-size: 1.5em;">Program Studi Sistem Informasi Fakultas Teknologi Informasi</span><br/>
	<span style="font-size: 1.25em;">Universitas Kristen Duta Wacana</span></br>
	Dr Wahidin Sudirahusada 5-25 Yogyakarta - 55224</div>
</header>