		<meta charset="utf-8" />
		<meta name="description" content="Web Site Sistem Informasi Tugas Akhir SI UKDW, Yogyakarta, Indonesia."/>
		<meta name="keywords" content="scripsi, si, sistem informasi, duta wacana, dwcu, ukdw, duta wacana christian university, yogyakarta, indonesia"/>
		<meta name="creator" content="Budi Susanto"/>
		<?php if (!isset($judul)) { $judul =""; } ?>
		<title><?php echo $judul; ?> - SkripSI UKDW (v1.76)</title>
		<link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->Html->url('/favicon.ico'); ?>"/>