<?php echo $this->Html->link('<span><< Batal dan kembali ke menu</span>', array('controller'=>'admin', 'action'=>'home', '#tabs-8'), array('class'=>'button', 'escape' => false)); ?>
<h3>Tambah Jadwal Tenggat Pendadaran</h3>
<?php
	echo $this->Form->create('Jwdpddr', array('action' => 'add'));
	echo $this->Form->input('Jwdpddr.batas', array('id' => 'batas', 'dateFormat' => 'DMY', 'label' => 'Batas Akhir Pendaftaran: '));
	echo $this->Form->end( array('label' => 'Save') ); 
?>