<?php echo $this->Html->link('<span><< Batal dan kembali ke menu</span>', array('controller'=>'admin', 'action'=>'home', '#tabs-8'), array('class'=>'button', 'escape' => false)); ?>
<h3>Tambah Jadwal Desk Evaluation</h3>
<?php
	echo $this->Form->create('Jwddeskevaluation', array('action' => 'add'));
	echo $this->Form->input('Jwddeskevaluation.batas', array('id' => 'batas', 'label' => 'Batas Akhir Pendaftaran: ', 'dateFormat' => 'DMY'));
	//echo $this->Form->input('Jwddeskevaluation.tanggal', array('id' => 'tanggal', 'label' => 'Tanggal Desk Evaluation: '));
	echo $this->Form->end( array('label' => 'Save') ); 
?>