<?php echo $this->Html->link('<span><< Batal dan kembali ke menu</span>', array('controller'=>'admin', 'action'=>'home', '#tabs-8'), array('class'=>'button', 'escape' => false)); ?>
<h3>Ubah Jadwal Kolokium</h3>
<?php
	echo $this->Form->create('Jwddeskevaluation', array('action' => 'edit'));
	echo $this->Form->input('Jwddeskevaluation.id', array('id' => 'id', 'type' => 'hidden', 'value' => $data['Jwddeskevaluation']['id']));
	echo $this->Form->input('Jwddeskevaluation.batas', array('id' => 'batas', 'dateFormat' => 'DMY', 'value'=> $data['Jwddeskevaluation']['batas'], 'label' => 'Batas Akhir Pendaftaran: '));
	//echo $this->Form->input('Jwddeskevaluation.tanggal', array('id' => 'tanggal', 'value'=> $data['Jwddeskevaluation']['tanggal'], 'label' => 'Tanggal Desk Evaluation: '));
	echo $this->Form->end( array('label' => 'Save') ); 
?>